@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #ffffff;
  
  --color-primary: #fafafa;
  --color-primary-foreground: #09090b;
  
  --color-secondary: #27272a;
  --color-secondary-foreground: #fafafa;
  
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;
}

body {
  @apply bg-background text-foreground antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
